In [2]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [98]:
filepath = "data/profile/profile.json"
df = pd.read_json(filepath)

In [99]:
df.shape

(3914, 3)

In [86]:
df = df.dropna(subset=['user_name'])

In [87]:
df.shape

(3913, 3)

In [88]:
df['followers'].fillna('0 follower', inplace=True)

In [90]:
df['followers'] = df['followers'].str.split(' ').str[0]

In [92]:
def convert_followers(x):
        if x[-1] == 'K':
            x = int(float(x[:-1]) * 1000)
        else:   
            x = int(x)
        return x
    
df['followers'] = df['followers'].apply(convert_followers)

In [94]:
df.shape

(3913, 3)

In [93]:
df.sample(30)

,user_name,desc,followers
518,Trishan Panch,"Co-Founder, Chief Medical Officer and Board Di...",97
1608,Kacper Kubara,MSc in Artificial Intelligence at the Universi...,0
933,Lara PuReum Yim,Data Science & Analytics || International Publ...,79
3203,Parijat Bhatt,Machine Learning enthusiast |,220
3665,Ibai Gorordo,I am a doctoral student at the Kyushu Institut...,14
759,Shikhar Gupta,"Applied scientist @Amazon, USF MSDS & IIT Roor...",557
3327,Jessie J. Smith,"PhD Student, Researching and Creating Technica...",329
2161,Santosh Yadaw,Physics Graduate | Engineer | Curious about AI...,4
611,Eric Luellen,Eric Luellen is an award-winning chief data sc...,308
2964,Mohd Zuhaib,Tech Enthusiast | Love working with data | Try...,8
1134,Kate Bäumli,None,342
1172,Ke Zhang,"Data Science, SAAS, Business Development, Prod...",40
274,Sampanna Sharma,None,9
1923,Manish Sharma,U Waterloo | Unige Switzerland| IIT Bombay: A ...,47
3562,CJ Sullivan,"Data Science Advocate at Neo4j, Founder of La ...",132
185,Paul-Louis Pröve,AI @ Lufthansa,998
3804,Daniel Crowe,Small Pieces Loosely Joined | Global Community...,52
427,Jeremiah Coleman,Telling stories with data and engineering,93
88,Kaustubh N,"Tinkerer, Machine Learning, Technology and Pas...",127
1416,Kyle Gallatin,Software Engineer for ML Infra. Building scala...,1950
2323,Rachel Zhiqing Zheng,Passionate Data Scientist | Enjoy learning and...,32
1893,John Oh,Storytelling with Data,27
1207,Jason Costello,Scottish data guy,2
778,Eryk Lewinson,"Data Scientist, ML/DL enthusiast, quantitative...",0
1785,Timothy Tan,A data science enthusiast who loves to researc...,174
3025,Sylvester Cardorelle,None,26
908,Amjad Abu-Rmileh,Data scientist and machine learning researcher...,300
1097,pauline chow,Data scientist and former public interest atto...,133
3681,Grzegorz Meller,Data Engineering student at Gdansk University ...,2
163,Mason Hall,Blockchain Researcher | ex-Consensys VC intern...,63

In [17]:
item_1, item_2, item3 = df.values[0]

In [18]:
item_1

'Raphael Fix'